
*{
    margin-left: -5px;
}

#principal .li {
    list-style-type: none;
    display: inline-block;
    padding-left: 20px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
   letter-spacing: 0em;
   text-align: left;
   color: #FFFFFF;
   text-decoration: none;

}

#principal {
    display: flex;
    width: 52%;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #bababa;
}


#principal button{
    width: 70px;
    height: 40px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    background: rgba(12, 112, 242, 1);
    align-items: center;
    border: 0px;
   margin-left: 480px;
   border-radius: 2px;
   box-shadow: 3px 2px 4px 0px rgba(48, 130, 238, 0.25);
   cursor: pointer;
}

#principal a:hover{
    color: #5e5d5d;
    transform: translateX(2px);
}

button:hover{
   transform:translatey(10px);
    transition-duration: 2s;
}

 

#principal {
    background-color: #303030;
    margin-top: -10px;
    width: auto;
    height: 90px;
    background-image: linear-gradient(10%) #fff;
}

#texto h1{
font-family: "Inter", sans-serif;
font-size: 50px;
font-weight: 800;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
color: rgba(255, 255, 255, 1);
margin-top: 100px;

}

#texto h2{
    font-family: "Inter", sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 1);

    
}

#bootcamp {
    width: auto;
    height: 1500px;
    background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 19.91%, rgba(12, 112, 242, 0) 30.84%),
    linear-gradient(0deg, #303030, #303030);
    padding-top: 20px;

}

.inp {
width: 500px;
height: 50px;
top: 752px;
left: 405px;
border-radius: 10px;
background: rgba(255, 255, 255, 0.9);
padding-left: 10px;


}

.check{
    width: 15px;
    height: 18px;
    top: 999px;
    left: 403px;
    border: 2px;
    background: rgba(255, 255, 255, 0.9);
    
}

label{
font-family: "Inter", sans-serif;
font-size: 25px;
font-weight: 600;
line-height: 50px;
letter-spacing: 0em;
text-align: center;
color: rgba(255, 255, 255, 1);


}

#formulario{
    margin-left: 30%;
    margin-top: 160px;
}

.front{
font-family: "Inter", sans-serif;
font-size: 20px;
font-weight: 600;
line-height: 30px;
letter-spacing: 0em;
text-align: center;
margin-inline-end: 25px;
margin-inline-start: 10px;

}

#formulario button{
width: 500px;
height: 50px;
top: 1465px;
left: 405px;
border-radius: 10px;
background: rgba(12, 112, 242, 0.9);
margin-top: 50px;
border: 0px;
font-family: "Inter", sans-serif;
font-size: 25px;
font-weight: 600;
line-height: 39px;
letter-spacing: 0em;
text-align: center;
color: rgba(255, 255, 255, 1);
}

.sobreadnc a{
    list-style-type: none;
    display: inline-block;
    padding-left: 20px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 50px;
   letter-spacing: 0em;
   text-align: center;
   color: #FFFFFF;
   text-decoration:none;
}

#formacao h2{
border-radius: 20px;
}

.sobreadnc{
    background-color: rgba(12, 112, 242, 1);
    text-align: center;
    display: grid;
    grid-auto-flow: column;
    columns: 3;
    padding-top: 50px;
}

#cep{
    list-style-type: none;
   
    padding-left: 20px;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
   letter-spacing: 0em;
   text-align: center;
   color: #FFFFFF;
   margin-top: 70px;
}

#ultima{
    background-color: rgba(12, 112, 242, 1);
}

.sobreadnc a:hover{
    color: rgb(104, 104, 104);
    transform: translateY(5px);
}


.links{
    margin-left: -20px;
}